@model Supermarket.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Home</a></li>
                            <li><a asp-area="Admin" asp-controller="AdminReviews" asp-action="Index">List Comments</a></li>
                            <li class="active">Detail Comment</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-header">
            <strong>Detail Comment</strong>
        </div>
        <div class="card-body card-block">
            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Customer Name</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Customer.CustomerName)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Product Name</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Product.ProductName)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Content</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Contents)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Create Date</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.CreateDate)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Status</label></div>
                    <div class="col-12 col-md-9">
                        @if (Model.Status == true)
                        {
                            <p class="form-control-static">Active</p>
                        }
                        else
                        {
                            <p class="form-control-static">Block</p>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
