@model Supermarket.DataModels.ChangePasswordVM
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Change Password</h2>

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }

    <form asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label for="OldPassword">Old Password:</label>
            <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password:</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm New Password:</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      
        </div>
        <button type="submit" class="btn btn-primary change">Change Password</button>
    </form>
</div>
        <style>
    .form-group 
    {
        width:50%;
        margin:auto;
    }

    .change {
        margin-left:40%;
        margin-top:10px;
    }
    </style>